<ul>
    <li style="padding-bottom: 10px;">
        Sample 10: Click Event - Inline<br/>
        <button (click)="clickValue='Value from click'">Click</button>
        <input type="text" value="{{clickValue}}">
    </li>
    <li style="padding-bottom: 10px;">
        Sample 11: Click Event - Method<br/>
        <button (click)="GreetClick()">Click</button>
        <input type="text" value="{{greet}}">
    </li>
    <li style="padding-bottom: 10px;">
        Sample 12: Variable/Template reference. Getting data from HTML DOM using variable<br/>
        <button (click)="GetClick(sampleInput.value)">Click</button>
        <input type="text" #sampleInput>
    </li>
    <li style="padding-bottom: 10px;">
        Sample 13: 2 way bindings<br/>
        <input type="text" [(ngModel)]="inputData"> {{inputData}}
    </li>
</ul>